.idea/
employeeCRUD/employeeCRUD/__pycache__/
employeeCRUD/employee_register/__pycache__/
employeeCRUD/employee_register/migrations/__pycache__/__init__.cpython-38.pyc
employeeCRUD/employee_register/migrations/__pycache__/
screenshots/
